/* Mobile first design */
body{
    background: blanchedalmond;
}
h1 {
    text-align: center;
}
p {
    background: white;
}
.button {
    padding: 20px;
    font-size: 30px;
    font-weight: bolder;
    width: 180px;
    border-radius: 5px;
    border: 1px solid black;
    text-align: center;
}
.submit-btn {
    display: none;
}
#saving-log {
    width: 100%;
    background: white;
    border: 1px solid black;
    max-height: 500px;
    margin-bottom: 10px;
    flex-grow: 1;
    overflow: auto;
}
#saving-graph {
    width: 100%;
    /* background: grey;
    height: 500px; */
}
#container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
#user-info{
    display: flex;
    flex-direction: column;
    align-content: center;
}
#user-info input {
    padding: 30px;
    margin-bottom: 15px;
}
#time {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
#left {
    width: 100%;
}